<form method="post" action="/signup">
  <input type="text" name="username" required>
  <input type="text" name="email" required>
  <input type="password" name="password" required>
  <input type="submit">
</form>